body{
    font-family: Arial, Helvetica, sans-serif;
    width: 1380px;
}
.carousel1 {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item1 {
    min-width: 100%;
    box-sizing: border-box;
}
#carousel-item1{
    width: 100%;
    height: 50px;
}
.logo{
    display: flex;
    background-color: rgb(5, 5, 83);
    height: 63px;
}
.logo img{
    width: 180px;
    height: 95px;
}
.searching input{
    width: 215px;
    height: 35px;
    margin: 10px 10px;
}
#button1{
    top: 92px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    height: 20px;
    padding-bottom: 23px;
}
.location{
    margin-left: 150px;
}
.location h4{
    color: #fff;
}
.chat-with-staff{
    margin-left: 60px;
    width: 90px;
    height: 40px;
    border-radius: 2%;
}
.chat-with-staff>a{
    animation: blink 0.5s linear infinite;
    text-decoration: none;
    text-align: center;
}
@keyframes blink {
    0% {
      color: red;
    }
    50% {
      color: blue;
    }
    100% {
      color: green;
    }
}
.menu{
   background-color:  rgb(2, 2, 30);
   color: white;
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: right;
}
.menu li{
    padding: 10px 10px;
}
.menu li a{
    text-decoration: none;
    color: #fff;
}
.menu1{
    position: absolute;
    background-color: white;
    top: 170px;
    width: 90px;
    list-style: none;
    display: none;
}
.menu1 li{
    border: 1px solid black;
    padding: 10px 5px;
    width: 90px;
}
.menu1 li a{
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 5px 5px;
}
.menu>li:hover>ul{
    display: block;
}

.carousel-container {
    display: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-top: 10px;
}
button {
    position: absolute;
    top: 35px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 35%;
    justify-items: center;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}
.main-content3{
    margin-top: 15px;
    width: 1380px;
    border-radius: 20px;
    background-color: rgb(53, 52, 52);
}
.main-content3>a>img{
    width: 1380px;
}
.main-content3>.laptop-line1{
    display: flex;
    margin-left: 25px;
}
.main-content3>.laptop-line1>.laptop-details{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px 15px;
    height: 450px;
    width: 300px;
}
.main-content3>.laptop-line1>.laptop-details>a{
    color: black;
    text-decoration: none;
    text-align: center;
}
.main-content3>.laptop-line1>.laptop-details>a>img{
    width: 300px;
    height: 250px;
    transition: transform 0.5s ease;
    border-radius: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.main-content3>.laptop-line1>.laptop-details>a>img:hover{
    transform: scale(1.1);
}
.main-content3>.laptop-line2{
    display: flex;
    margin-left: 25px;
}
.main-content3>.laptop-line2>.laptop-details{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px 15px;
    height: 470px;
    width: 300px;
}
.main-content3>.laptop-line2>.laptop-details>a{
    color: black;
    text-decoration: none;
    text-align: center;
}
.main-content3>.laptop-line2>.laptop-details>a>img{
    width: 300px;
    height: 250px;
    transition: transform 0.5s ease;
    border-radius: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.main-content3>.laptop-line2>.laptop-details>a>img:hover{
    transform: scale(1.1);
}
/*-------------------------chinh ve xem them----------------------------*/
.main-content3>.laptop-line3{ 
    display: flex;
    margin-left: 25px;  
}
.main-content3>.laptop-line3>.laptop-details{
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px 15px;
    height: 490px;
    width: 300px;
}
.main-content3>.laptop-line3>.laptop-details>a{
    color: black;
    text-decoration: none;
    text-align: center;
}
.main-content3>.laptop-line3>.laptop-details>a>img{
    width: 300px;
    height: 250px;
    transition: transform 0.5s ease;
    border-radius: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.main-content3>.laptop-line3>.laptop-details>a>img:hover{
    transform: scale(1.1);
}

.main-content3>.laptop-line4{ 
    display: flex;
    margin-left: 25px;  
}
.main-content3>.laptop-line4>.laptop-details{
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px 15px;
    height: 490px;
    width: 300px;
}
.main-content3>.laptop-line4>.laptop-details>a{
    color: black;
    text-decoration: none;
    text-align: center;
}
.main-content3>.laptop-line4>.laptop-details>a>img{
    width: 300px;
    height: 250px;
    transition: transform 0.5s ease;
    border-radius: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.main-content3>.laptop-line4>.laptop-details>a>img:hover{
    transform: scale(1.1);
}

.main-content3>.laptop-line5{
    display: flex;
    margin-left: 25px;
}
.main-content3>.laptop-line5>.laptop-details{
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px 15px;
    height: 490px;
    width: 300px;
}
.main-content3>.laptop-line5>.laptop-details>a{
    color: black;
    text-decoration: none;
    text-align: center;
}
.main-content3>.laptop-line5>.laptop-details>a>img{
    width: 300px;
    height: 250px;
    transition: transform 0.5s ease;
    border-radius: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.main-content3>.laptop-line5>.laptop-details>a>img:hover{
    transform: scale(1.1);
}
.see-more1{
    background-color: rgb(188, 185, 185);
    border: 1px solid black;
    margin-left: 550px;
    padding: 5px 10px;
    width: 140px;
    height: 80px;
}
.see-more1>h4{
    cursor: pointer;
    color: black;
}

footer.ft{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin:25px 35px ;
    background-color: white;
    
}
a{text-decoration: none;color: black;}
.ft .content{
    width: 20%;
}
.ft .content p{
    padding-bottom: 10px;
}
.ft .content #hienthi:hover, a:hover{
    color: rgb(12, 84, 179);
}
.ft .content span{
    cursor: pointer;
    color: blue;
}
.ft .content4 .sile1 img{
    width: 30px;
    height: auto;
    position: absolute;
}
.ft .content4 .sile1 a{
    color: blue;
    margin-right: 10px;
    position: relative;
    display: flex;
}
.ft .content4 .sile1, .sile2 {
    display: flex;   
}
.ft .content4 .sile1  p{
    
    padding: 10px 40px;
    padding-right: 5px;
}
.ft .content4 .sile2 img{
    margin:15px 0;
    padding-right: 10px;
}
.ft .content4 .sile3 {
    display: flex;
}
.ft .content4 .sile3 div{   
    width: 300px;
}
.ft .content4 .sile3 div img{
    width: 130px;
    height: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
}
footer.last{
    margin-top: 20px;
    background-color: #999292;
    padding: 20px 30px ;
}