body{
    font-family: Arial, Helvetica, sans-serif;
    width: 1380px;
}
.carousel1 {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item1 {
    min-width: 100%;
    box-sizing: border-box;
}
#carousel-item1{
    width: 1380px;
    height: 50px;
}
.logo{
    display: flex;
    background-color: rgb(5, 5, 83);
    height: 63px;
}
.logo img{
    width: 180px;
    height: 95px;
}
.searching input{
    width: 215px;
    height: 35px;
    margin: 10px 10px;
}
#button1{
    top: 92px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    height: 20px;
    padding-bottom: 23px;
}
.location{
    margin-left: 150px;
}
.location h4{
    color: #fff;
}
.chat-with-staff{
    margin-left: 60px;
    width: 90px;
    height: 40px;
    border-radius: 2%;
}
.chat-with-staff>a{
    animation: blink 0.5s linear infinite;
    text-decoration: none;
    text-align: center;
}
.menu{
   background-color:  rgb(2, 2, 30);
   color: white;
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: right;
}
.menu li{
    padding: 10px 10px;
}
.menu li a{
    text-decoration: none;
    color: #fff;
}
.menu1{
    position: absolute;
    background-color: white;
    top: 170px;
    width: 90px;
    list-style: none;
    display: none;
}
.menu1 li{
    border: 1px solid black;
    padding: 10px 5px;
    width: 90px;
}
.menu1 li a{
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 5px 5px;
}
.menu>li:hover>ul{
    display: block;
}

.carousel-container {
    display: relative;
    width: 1380px;
    max-width: 100%;
    overflow: hidden;
    margin-top: 10px;
}
button {
    position: absolute;
    top: 35px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 35%;
    justify-items: center;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}


footer {
    display: flex;
    width: 1380px;
}
.slides {
    position: relative;
    width: 70%;
    
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.slides .list-img {
    display: flex; 
    transition: transform 0.5s ease-in-out;
}
.list-img .item-img{
    width: 100%;
}
.slides .list-img img{
    width: 965px;
    display: block;
}
.slides button{
    top: 50%;
}
.slides button:hover{
    color: #333;
    background-color: antiquewhite;
}
footer .sile2{
    width: 30%;
    margin-left: 10px;
}
.sile2 img{
    
    width: 100%;
    height: 130px;
}

.phukien-categories{
    width: 1380px;
    height: 240px;
    margin-top: 25px;
    border: 1px solid black;
    background-color: rgb(215, 217, 220);
    border-radius: 2%;
}
.phukien-categories>h2{
    margin-top: 10px;
    animation: blink 0.5s linear infinite;
}
@keyframes blink {
    0% {
      color: red;
    }
    50% {
      color: blue;
    }
    100% {
      color: green;
    }
}
.phukien-categories>.phukien-categories-details{
    display: flex;
    justify-content: center;
}
.phukien-categories>.phukien-categories-details>.details{
    margin-right: 30px;
    width: 100px;

}
.phukien-categories>.phukien-categories-details>.details>a{
    text-decoration: none;
    color: black;
    text-align: center;
}
.phukien-categories>.phukien-categories-details>.details>a>img{
    width: 100px;
    height: 90px;
}
.ad>a>img{
    margin-top: 20px;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.main-content{
    overflow: hidden;
    background-color: rgb(45, 43, 43);
    border-radius: 15px;
    color: #fff;
    width: 1380px;
    height: 1780px;
    margin-top: 20px;
}
.main-content>h2{
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 10px;
}

.line1{
    display: flex;
    padding: 10px 10px;
}
.line1>.main-content-article{
    position: relative;
    margin: 10px 10px;
    width: 255px;
}
.line1>.main-content-article>a{
    color: #fff;
    text-decoration: none;
}
.line1>.main-content-article>a>img{
    transition: transform 0.5s ease;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    margin-bottom: 5px;
}
.line1>.main-content-article>a>img:hover{
    transform: scale(1.1);
}
.deleted-prices{
    text-decoration: line-through;
}
.line2{
    display: flex;
    padding: 10px 10px;
}
.line2>.main-content-article{
    position: relative;
    margin: 10px 10px;
    width: 255px;
}
.line2>.main-content-article>a{
    color: #fff;
    text-decoration: none;
}
.line2>.main-content-article>a>img{
    transition: transform 0.5s ease;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    margin-bottom: 5px;
}
.line2>.main-content-article>a>img:hover{
    transform: scale(1.1);
}
.line3{
    display: flex;
    padding: 10px 10px;
}
.line3>.main-content-article{
    position: relative;
    margin: 10px 10px;
    width: 255px;
}
.line3>.main-content-article>a{
    color: #fff;
    text-decoration: none;
}
.line3>.main-content-article>a>img{
    transition: transform 0.5s ease;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    margin-bottom: 5px;
}
.line3>.main-content-article>a>img:hover{
    transform: scale(1.1);
}
.line4{
    display: flex;
    padding: 10px 10px;
}
.line4>.main-content-article{
    position: relative;
    margin: 10px 10px;
    width: 255px;
}
.line4>.main-content-article>a{
    color: #fff;
    text-decoration: none;
}
.line4>.main-content-article>a>img{
    transition: transform 0.5s ease;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    margin-bottom: 5px;
}
.line4>.main-content-article>a>img:hover{
    transform: scale(1.1);
}
.discount{
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
}


footer.ft{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin:25px 35px ;
    background-color: white;
    
}
a{text-decoration: none;color: black;}
.ft .content{
    width: 20%;
}
.ft .content p{
    padding-bottom: 10px;
}
.ft .content #hienthi:hover, a:hover{
    color: rgb(12, 84, 179);
}
.ft .content span{
    cursor: pointer;
    color: blue;
}
.ft .content4 .sile1 img{
    width: 30px;
    height: auto;
    position: absolute;
}
.ft .content4 .sile1 a{
    color: blue;
    margin-right: 10px;
    position: relative;
    display: flex;
}
.ft .content4 .sile1, .sile4 {
    display: flex;   
}
.ft .content4 .sile1  p{
    
    padding: 10px 40px;
    padding-right: 5px;
}
.ft .content4 .sile4 img{
    margin:15px 0;
    padding-right: 10px;
}
.ft .content4 .sile3 {
    display: flex;
}
.ft .content4 .sile3 div{   
    width: 300px;
}
.ft .content4 .sile3 div img{
    width: 130px;
    height: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
}
footer.last{
    margin-top: 20px;
    background-color: #999292;
    padding: 20px 30px ;
}